/*<======================== Main ========================>*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #2a282d;
    --color-second: #f5f5f5;
    --color-btn: #1451ee;
    --color-btn-hover: #0d3aad;
    --color-btn-active: #00288d;
    --color-wrong: #ae1919;
    --color-wrong-hover: #640e0e;
    --color-wrong-active: #3f0a0a;
    --color-not-active: #777;

    --font-size-large: 1.3rem;
    --font-size-normal: 1.1rem;
    --font-size-small: 1rem;
    --font-size-extrasmall: 0.8rem;

    --container-width-lg: 75%;
    --container-width-md: 82%;
    --container-width-sm: 90%;
    --container-width: var(--container-width-lg);

    --form-width-lg: 30%;
    --form-width-md: 40%;
    --form-width-sm: 70%;
    --form-width: 100%;

    --border-radius: 1rem;

    --transition: all ease 0.3s;

    --shadow-main: 0 3px 15px 1px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-main);
    color: var(--color-second);
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-normal);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 5rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.1rem;
}

img {
    display: block;
    object-fit: cover;
}

button > img {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

section {
    position: relative;
    padding: 5.5rem 0;
}

.container {
    width: var(--container-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.nav__link {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-small);
    color: var(--color-main);
    transition: var(--transition);
}

.nav__link:hover {
    opacity: 0.7;
}

.nav__link.active {
    color: var(--color-btn-active)
}

.main-link {
    text-decoration: underline;
    transition: var(--transition);
}

.main-link:hover {
    opacity: 0.7;
}

.second-link {
    transition: var(--transition);
}

.second-link:hover {
    opacity: 0.7;
}

/*<======================== End of main ========================>*/


/*<======================== Header ========================>*/
.header {
    height: 2.8rem;
    background-color: var(--color-second);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.header__main .header__ul {
    justify-content: space-between;
}

.header__ul .link-nav {
    color: var(--color-main);
}

/*<======================== End of Header ========================>*/

/*<======================== Table ========================>*/
.table {
    border-collapse: collapse;
    border: 2px solid var(--color-second);
    width: 100%;
}

.thead {
    background-color: var(--color-second);
    color: var(--color-main);
}

.tbody td {
    border: 2px solid var(--color-second);
    padding: 0.3rem 1rem;
}

.tbody th {
    background-color: var(--color-second);
    color: var(--color-main);
    text-align: left;
    vertical-align: middle;
    width: fit-content;
    padding: 2rem 1rem;
}

.show__table .tbody td {
    padding: 2rem 1.5rem;
}

.table-inf {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4em;
}

.table__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/*<======================== End of table ========================>*/

/*<======================== Form ========================>*/
.form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);
    flex-wrap: wrap;
    row-gap: 1.7rem;
}

.form__blocks {
    display: flex;
    flex-grow: 1;
    gap: 1.7rem;
    width: 100%;
}

.form__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form .main-btn {
    margin-top: 2rem;
    align-self: flex-end;
}

.form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

.form__footer .main-btn {
    margin: 0;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.7rem;
}

.label {
    font-size: var(--font-size-small);
    color: var(--color-second);
    margin-left: 0.7rem;
}

.input,
.p-inputtext,
[data-pc-name="password"] > input {
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 2px solid var(--color-second);
    padding: 0.7rem 1rem;
    width: 100%;
}

[data-pc-name="password"] > input {
    padding-right: 3rem;
}

.input__error {
    border-color: var(--color-wrong);
}

.textarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 2px solid var(--color-second);
    padding: 0.7rem 1rem;
    line-height: 1.4;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 2px solid var(--color-second);
    padding: 0.7rem 1rem;
    gap: 0.7rem;
}

.checkbox__block {
    flex-direction: row;
}

.error {
    color: var(--color-wrong);
    font-size: var(--font-size-small);
    margin-top: -0.5rem;
}

.form .error {
    margin-top: 0.3rem;
}

[data-pc-name="password"] {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
}

[data-pc-name="password"] > svg {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

/*<======================== Button ========================>*/
button {
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    font-size: var(--font-size-normal);
}

button.delete {
    background-color: var(--color-wrong);
}

button.delete:hover {
    background-color: var(--color-wrong-hover);
}

button.delete:active {
    background-color: var(--color-wrong-active);
}

.main-btn {
    background-color: var(--color-btn);
    color: var(--color-second);
    font-weight: 700;
    padding: 0.7rem 2rem;
    border-radius: var(--border-radius);
}

.main-btn:hover {
    background-color: var(--color-btn-hover);
}

.main-btn:active {
    background-color: var(--color-btn-active);
}

/*<======================== End of button ========================>*/

/*<======================== End of form ========================>*/

/*<======================== Different ========================>*/
.section__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    column-gap: 3rem;
    row-gap: 1rem;
}

.section__title h2 {
    margin: 0;
}

.section__title__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

/*<======================== End of different ========================>*/

@media (max-width: 1600px) {
    :root {
        --container-width: var(--container-width-md);
    }
}

@media (max-width: 1024px) {
    .form__blocks {
        flex-direction: column;
    }

    /*<======================== Table ========================>*/
    .table__index {
        border: 0;
        width: 100%;
    }

    .thead__index {
        display: none;
    }

    .tbody__index tr {
        margin-bottom: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--color-second);
        border-right: 2px solid var(--color-second);
    }

    .tbody__index td {
        width: 100%;
        position: relative;
        text-align: right;
        border-bottom: 0;
        border-right: 0;
    }

    .tbody__index td:last-child {
        border-bottom: 0;
    }

    .tbody__index td::before {
        content: attr(data-label);
        margin-right: 1.5rem;
        float: left;
        font-weight: bold;
    }

    /*<======================== End of table ========================>*/
}

@media (max-width: 768px) {
    :root {
        --container-width: var(--container-width-sm);
    }

    .header__ul {
        gap: 1rem;
    }

    .section {
        padding: 3rem 0;
    }
}
